<h2><%= @person.name %></h2>
<%= link_to 'Edit', edit_person_path(@person) %> --
<%= link_to 'Delete', person_path(@person), method: :delete, data: {confirm: 'Are you sure?'}%> --
<%= link_to "#{@person.name.pluralize} Animals", person_animals_path(@person) %>
<hr />
  <p>Age is: <%= @person.age %></p>
  <p>Gender is: <%= @person.gender %></p>

  <h4>Alive: <%= @person.alive ? 'Yes' : 'No' %></h4>
